/* @import url("https://fonts.googleapis.com/css2?family=Anton&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Sansita:ital@1&family=Stick+No+Bills:wght@800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

body {
  background-color: #000509;
  /* background-color: light; */
}
.myfont {
  /* font-family: "Anton", sans-serif; */
  font-family: "Stick No Bills", sans-serif;
}
.form-control:focus {
  box-shadow: none;
}
.myListFont {
  font-family: "Sansita", sans-serif;
  font-family: "Stick No Bills", sans-serif;
}
.mytransition {
  transition: visibility 2s ease-out;
}
.myBorderTransition {
  transition: border 2s ease-in-out;
}
.List_body_scoll {
  max-height: 65vh;
  overflow-y: scroll;
  overflow-x: hidden;
  color-scheme: dark;
}
.deletIcon:hover svg {
  color: #ff2137;
}
.checkBoxIcon:hover svg {
  color: #20ff98;
}
.ContentScroll::-webkit-scrollbar {
  display: none;
}
.myfontHover:hover {
  color: white;
}
