/* @import url("https://fonts.googleapis.com/css2?family=Anton&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Sansita:ital@1&family=Stick+No+Bills:wght@800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #000509d1;
  /* background-color: light; */
}
.myfont {
  /* font-family: "Anton", sans-serif; */
  font-family: "Stick No Bills", sans-serif;
}
.form-control:focus {
  box-shadow: none;
}
.myListFont {
  font-family: "Sansita", sans-serif;
  font-family: "Stick No Bills", sans-serif;
}
.mytransition {
  transition: visibility 2s ease-out;
}
